* {
    margin: 0;
    padding: 0;
}

.A {
    height: 100px;
    display: flex;
    justify-content: space-around;
    padding-top: 29px;
    box-sizing: border-box;
}

.a1 a {
    display: block;
    width: 200px;
    height: 50px;
    text-decoration: none;
    color: #000000;
    transform: skew(-20deg);
}

.a2 ul {
    display: flex;

    width: 240px;
    height: 30px;

    justify-content: space-around;

}

.ax {
    display: block;
    padding: 6px 8px;
    font-size: 19px;
    color: #b89a15;
    text-decoration: none;
}

.a2 li .xia,
.a2 li a:hover {
    border-bottom: 2px solid #b89a15;
}

.a3 {
    display: flex;

    justify-content: space-around;

    width: 420px;
    height: 40px;

    border-radius: 20px;
    border: 1px solid;


}

.a3 input {
    display: block;
    width: 360px;
    height: 20px;

    padding: 10px;
    border: 0;

    outline: none;

    border-radius: 20px;
}

.a3 input::placeholder {
    font-size: 14px;
    color: #999;
}

.a3 a {
    display: block;
    line-height: 45px;
}

.a4 {

    width: 200px;
    height: 40px;
}

.a4 img {
    border-radius: 20px;
    vertical-align: middle;
    margin-right: 7px;
}

.a4 a {
    text-decoration: none;
    font-size: 16px;
    color: #b89a15;
}

.a4 a:hover {
    color: #8f770f;
}

.B {
    margin: 100px auto 0;
    width: 400px;
    height: 20px;
}